numpy
nltk
pydub
streamlit
audio-recorder-streamlit
python-dotenv
moviepy
youtube-transcript-api
spacy==2.1.0
neuralcoref --no-binary neuralcoref
streamlit-option-menu
streamlit-lottie
python-rake
mysql-connector-python
sentence-transformers
faiss-cpu